.not-found-container {
  display: flex;
  flex-direction: column;
}

.not-found-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  width: 30%;
}

.not-found-heading {
  color: #616e7c;
  margin-top: 0;
}

.not-found-text {
  color: #616e7c;
  margin-top: 0;
}